body {
    
    
    background-image: url("../assets/background-image-paws.jpg");

}
* {

    font-family: "Poetsen One", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    }


.logo {

    display: flexbox;
    position: right;
    width:250px; height:250px;
    border-radius: 100px ;
    border: 5pxs;
    margin: 5px;
    border-color: aqua;
}


.nav {


display: flex;
background-color: rgb(243, 207, 239);

}



img.carrousel {

display: flex;
padding: 10px;
margin: 10px;
}


section.grids-index {

display: grid;

grid-template-columns:repeat(4, 1fr) ;

}

section.grids {

display: grid;
column-gap: 80px;
justify-content: space-around;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;

}

.nav li:hover {

 background-color: rgb(219, 168, 228);
 border-radius: 10px;
 border-color: blueviolet;
}


h1.main-title {

font-size:xx-large ;
margin: 20px;

}




section img {

   display: grid;
   align-items: center;
   background-color: rgb(244, 183, 242);
   width: 300px;
   height: 300px;
   width: 90%;
   padding: 10px;
   margin: 10px;
}   

textarea:hover {

border-color: rgb(167, 201, 17) ;

}

img {

    width: 400px;
    height: 300px;

}

img.derecha {


display: flex;
position: right;

}

iframe {
    display: flex;
    width: 500px;
    height: 500px;
    margin: 30px;
}

@font-face {
    font-family: "Poetsen+One";
    src: url(https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap);
}

ul {
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    color: rgb(18, 54, 4);}


p {

    display: flexbox;
    padding: 30px;
    text-align: left;
    font-size: 18px;
    color: rgb(1, 77, 1);
}



h1 {
    
    font-weight: 400;
    font-style: bold;
    font-size: larger;
    color: rgb(5, 119, 33);
    text-align: center;

}

h2 {
    
    display: block;
    font-weight: 200;
    text-align: center;
    font-style: small;
    font-size: large;
    color: rgb(100, 0, 78)

}

    .violeta {color: violet}

    h3 {
        display: flex;
        padding: 20px;
        font-weight: 300;
        font-style: smaller;
        text-decoration: wavy;
        color: rgb(139, 5, 5)
    
    }

        footer {
            
            position: end;
            font-weight: 400;
            font-style: normal;
            text-align: right;
            color: rgb(92, 0, 100);
           }

            h6 {
                text-align: center;
            }

button{
    display: block;
    margin: auto;
    }

    button:hover {

    background-color: rgb(225, 156, 217);
    border-bottom: 5px;
    border-color: bisque;
    }

form {

    position: relative;

}

div img {

margin: 20px;

}

/*Media queries */ 

@media screen and (max-width: 1024px) {

    /* solamente lo que cambia: llamar etiqueta, clase y elemento */



    section.grids-index {

    grid-template-columns: 1fr;
}
    section.grids {
    
        grid-template-columns: 90%; 
        
    
    
    }

}