/* Importacion de archivos en orden de importancia */
* {
  padding: 0;
  margin: 0;
  font-family: "Poetsen One", sans-serif;
  box-sizing: border-box; }

body {
  background-image: url("../assets/background-image-paws.jpg"); }
  body main h1 {
    color: #057721; }
  body main .main-title, body main h1, body main h2, body main h3 {
    font-weight: 200px;
    text-align: center;
    padding: 10px;
    color: darkgreen;
    font-size: xx-large; }
  body main h2 {
    color: #64004e;
    font-size: larger; }
  body main h3 {
    text-decoration: wavy;
    color: #8b0505; }
  body main section {
    display: grid; }
    body main section p {
      padding: 30px;
      text-align: left;
      font-size: 18px;
      color: #014d01; }
    body main section img {
      background-color: #f4b7f2;
      width: 300px;
      height: 300px;
      width: 90%;
      padding: 10px;
      margin: 10px;
      object-fit: cover; }
      body main section img.imagen-voluntariado {
        height: 400px;
        width: 400px; }
    body main section iframe, body main section div textarea, body main div section textarea, body main section div ul li textarea, body main div ul li section textarea {
      width: 400px;
      height: 300px;
      object-fit: cover; }
    body main section .grids {
      column-gap: 80px;
      justify-content: space-around;
      grid-template-columns: repeat(3, 1fr); }
  body main div .carousel-inner {
    object-fit: cover; }
  body main div ul li textarea {
    height: 200px;
    width: 375px; }
  body main div button {
    position: relative;
    bottom: 12px;
    left: 180px; }
    body main div button:hover {
      background-color: #e19cd9;
      border-bottom: 10px;
      border-color: bisque; }

header section {
  display: flex; }
  header section img {
    width: 1900px;
    height: 300px;
    object-fit: cover;
    overflow-x: auto; }
  header section h1 {
    position: absolute;
    top: 235px;
    left: 20px;
    z-index: 9999;
    font-size: 50px;
    color: darkgreen;
    text-align: justify; }

header nav div {
  background-color: #f4b7f2; }
  header nav div ul li {
    font-weight: 400px;
    font-style: normal;
    text-align: justify;
    color: darkgreen; }
    header nav div ul li :hover {
      background-color: #dba8e4;
      border-radius: 10px; }

header img.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 180px;
  height: 180px;
  border-radius: 100px;
  border: 5px;
  margin: 5px; }

footer section p {
  text-align: left;
  font-weight: 400px;
  font-style: oblique;
  text-align: right;
  color: darkmagenta; }

footer a img {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 60px;
  width: 60px; }

@media screen and (min-width: 1024px) {
  main section div iframe, body main section div textarea, body main section div ul li textarea {
    width: 550px;
    height: 300px; }
  button.hover {
    left: 875px; }
  img.flecha-volver {
    display: none; } }

@media screen and (max-width: 1024px) {
  section.grids {
    grid-template-columns: 100%; }
  header section h1 {
    color: blueviolet; } }
