* {

padding: 0;
margin: 0;
font-family: $font-global;
box-sizing: border-box;

}



body {


    background-image: url("../assets/background-image-paws.jpg");

    main {             



        h1 {  

           color: rgb(5, 119, 33);
           @extend .encabezado;
        
        }

        .main-title {

            color: $bold-green-title;


        }
        
        .encabezado {

            font-weight: 200px;
            text-align: justify;
            font-size: larger;
            padding: $standard-padding;
               

        }

        h2 {
                           
            
            font-style: small;
            color: rgb(100, 0, 78);
            @extend .encabezado;
        }

        h3 {

            @extend .encabezado;       
            text-decoration: wavy;
            color: rgb(139, 5, 5)
        
        }

        section {      
            
            display: grid;

            p {

                padding: 30px;
                text-align: left;
                font-size: 18px;
                color: rgb(1, 77, 1);
            }    
                  
            img {
      
                
                object-fit: fill;        
                background-color: rgb(244, 183, 242);
                width: 300px;
                height: 300px;
                width: 90%;
                padding: 10px;
                margin: 10px;
                
        
            }

            iframe {

                width: 500px;
                height: 500px;


                
            }
        
            .grids {
        
                column-gap: 80px;
                justify-content: space-around;
                grid-template-columns: repeat(3, 1fr);                             
        
            }
        
        
            .grids-index {
                        
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;                
        
            }
                
        }

        div {

            button {


                display: line;


            }
            
            &:hover

                 {
                        
                
                background-color: rgb(225, 156, 217);
                border-bottom: 5px;
                border-color: bisque;

            }

            }



        
        
        }



    }







