
footer {


    section {
    
    p {

        text-align: left;
        font-weight: 400px;
        font-style: oblique;
        text-align: right;
        color: darkmagenta;

    }

}
      


    a {

        img {

            position: fixed;        
            bottom: 20px;        
            right: 20px;    
            height: 60px;
            width: 60px;
                                  
        }                      
    }
}

